<% %>
<div class="simple_cms_form" style="margin-top: 20px; width: 800px; margin-left: auto; margin-right: auto;">
	<h3 id="revision_heading" style="text-align: center; font-family: Arial; font-size: 26px; color: white;">Content for Simple CMS Label - <%= @simple_cms_item.label %>
  <div id="revision_title" style="display: inline">
    - Revision <div id="version_id" style="display: inline"><%= @simple_cms_item.version %></div>
  </div>
  </h3>
  <%= text_area :simple_cms_item, :data, {:class => "tinymce"} %>
	<br/>
	<%= submit_tag "Save Content", :style => "float:left;" %>
  <%= button_to "Cancel", {}, :name => 'commit', :style => "float:left;",
                              :confirm => "Are you sure you want to discard your changes?" %>
	<br/>
</div>
