<% -%>
<html>
	<head>
		<%= stylesheet_link_tag "simple_cms", "coderay" %>
    <%= javascript_include_tag "simple_cms" %>
    <%= tinymce_assets %>
    <title>Note Editing</title>
	</head>
	<body class="simplecmsbody">
    <%= yield %>
    <%= tinymce %>
	</body>
</html>
